.container{
    color: var(--color-letters);
    height: 100vh;
    background: #141E30;  /* fallback for old browsers */
background: -webkit-linear-gradient(to top, #243B55, #141E30);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to top, #243B55, #141E30); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

.img__container {
    display: grid;
    place-content: center;
    margin: 2rem;
}
.img{
    max-width: 80%;
    /* margin: 10rem auto; */
    margin-left: 2rem;
}
.description{
    margin-left: 1.5rem;
    font-weight: 700;
    margin: 0;
    font-size: 6rem;
    text-align: center;
}
.h3{
    margin-top: -5px;
    font-weight: 500;
    font-size: 3rem;
}
.containerWelcome{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.button_container {
    display: flex;
    gap: 4rem;
    /* justify-content: space-between; */
    margin: 1rem;
}
.btn{
    padding: 0.5rem 1.5rem;
    background: #626D7C;
    border-radius: 1rem;
    border: none;
    font-size: 1.6rem;
    color: var(--color-letters);
}
.btn:hover{
    background: #919ba9;
    transition: .3s;
    cursor: pointer;
    color: var(--background-color-landing);
    transform: scale(1.1);
    transition: .3s;
}
/* 
@media (min-width: 768px ){
    .containerTwoElement{
        display: flex;
        flex-direction: row-reverse;
        align-items: center;
        justify-content: space-evenly;
        max-width: 100%;
    }
    .img{
        margin-right:10rem ;
        height: 30rem;
        max-width: 38rem;

    }
    .h3{
        margin-left:1rem; 
        font-size: 1.5rem;
    }
    
} */
