.container {
    color: #fff;
    background: linear-gradient(180deg, #222222 0%, #3A495D 100%);
    height: 100vh;
    padding: 3rem 5rem;
}

.nav {
    font-size: 2rem;
    font-weight: 600;
}

.main {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 70vh;
}

.main h1 {
    font-size: 4rem;
    width: 80%;
    display: inline;
}

.main h1 span {
    color: #FF5F6D;
}

.main h3 {
    font-weight: 300;
    font-size: 1.5rem;
    margin: 2rem 0;
}

/* Button */

.btn {
    width: 8rem;
    height: 3rem;
    background: #222222;
    color: white;
    border: none;
    border-radius: 0.625em;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
    position: relative;
    z-index: 1;
    overflow: hidden;
}

button:hover {
    color: black;
}

button:after {
    content: "";
    background: white;
    position: absolute;
    z-index: -1;
    left: -20%;
    right: -20%;
    top: 0;
    bottom: 0;
    transform: skewX(-45deg) scale(0, 1);
    transition: all 0.5s;
}

button:hover:after {
    transform: skewX(-45deg) scale(1, 1);
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
}

.cardContainer {
    width: 40rem;
    height: 25rem;
    margin-right: 10rem;
    left: 1157px;
    top: 300px;
    background: linear-gradient(111.29deg, rgba(255, 255, 255, 0.4) 0.76%, rgba(255, 255, 255, 0) 100%);
    backdrop-filter: blur(42px);
    border-radius: 40px;
}

/* Offer Container */

.offerContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    text-align: center;
}

.offersListContainer {
    display: flex;
    justify-content: center;
}

.offersListContainer li {
    display: flex;
    margin: 1rem;
    max-width: 200px;
    text-align: left;
}

.offersListContainer h6 {
    font-weight: 800;
    font-size: 1rem;
    margin: 1rem 0;
}