.container {
    color: #fff;
    background: var(--main-bg);
    min-height: 100vh;
    max-height: fit-content;
    padding: 3rem 5rem;
}

.nav {
    font-size: 2rem;
    font-weight: 600;
}

.main {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 70vh;
}

.main h1 {
    font-size: 4rem;
    width: 80%;
    display: inline;
}

.main h1 span {
    color: #FF5F6D;
}

.main h3 {
    font-weight: 300;
    font-size: 1.5rem;
    margin: 1rem 0;
}

/* Button */

.btn {
    width: 8rem;
    height: 3rem;
    background: #FF5F6D;
    color: white;
    border: none;
    border-radius: 0.625em;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
    position: relative;
    z-index: 1;
    overflow: hidden;
}


.btn:hover {
    color: #FF5F6D
}

.btn:after {
    content: "";
    background: white;
    position: absolute;
    z-index: -1;
    left: -20%;
    right: -20%;
    top: 0;
    bottom: 0;
    transform: skewX(-45deg) scale(0, 1);
    transition: all 0.5s;
}

.btn:hover:after {
    transform: skewX(-45deg) scale(1, 1);
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
}

/* .cardContainer {
    width: 40rem;
    height: 25rem;
    margin-right: 10rem;
    left: 1157px;
    top: 300px;
    background: linear-gradient(111.29deg, rgba(255, 255, 255, 0.4) 0.76%, rgba(255, 255, 255, 0) 100%);
    backdrop-filter: blur(42px);
    border-radius: 40px;
} */

.credit_card {
    position: relative;
    margin: 2rem;
    max-width: 520px;
    min-width: 520px;
    min-height: 300px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    padding: 24px;
    box-sizing: border-box;
    background: #FF5F6D;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #FFC371, #FF5F6D);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #FFC371, #FF5F6D);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    justify-content: space-between;
    overflow: hidden;
    transition: .3s;
    font-family: 'ocr_a_std';
    /* box-shadow: 0 1rem 1.5rem #ff5f6c78; */
}

.credit_card:after {
    content: "";
    position: absolute;
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
    z-index: 0;
    color: rgb(249 249 249 / 10%);
    background: linear-gradient(135deg, currentColor 25%, transparent 25%) -100px 0,
        linear-gradient(225deg, currentColor 25%, transparent 25%) -100px 0,
        linear-gradient(315deg, currentColor 25%, transparent 25%),
        linear-gradient(45deg, currentColor 25%, transparent 25%);
    background-size: calc(2 * 100px) calc(2 * 100px);
}

.title {
    font-size: 3rem;
    font-weight: 600;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
        'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
        sans-serif;
}

.number {
    font-size: 2rem;
    text-align: center;
}

.balance_name_container {
    display: flex;
    justify-content: space-between;
}

.name {
    font-size: 1rem;
}

.balance {
    font-size: 1rem;
}

@media (max-width: 1000px) {
    .main {
        flex-direction: column-reverse;
        text-align: center;
    }

    .main h1 {
        font-size: 3rem;

    }

    .main h3 {
        font-size: 1rem;

    }

    .credit_card {
        max-width: 100%;
        min-width: 400px;
        min-height: 270px;

    }

    .title {
        font-size: 2rem;
        text-align: left;
    }

    .number {
        font-size: 1.5rem;
        text-align: center;
    }

    .name {
        font-size: .7rem;
    }

    .balance {
        font-size: .7rem;
    }
}

@media (max-width: 668px) {

    .main h1 {
        font-size: 2rem;
        width: 80%;
        display: inline;
    }

    .credit_card {
        max-width: 100%;
        min-width: 320px;
        min-height: 240px;

    }

    .title {
        font-size: 2rem;
    }

    .number {
        font-size: 1.2rem;
        text-align: center;
    }

    .name {
        font-size: 1rem;
    }

    .balance {
        font-size: .7rem;
    }
}

@media (max-width: 490px) {
    .credit_card {
        min-width: 260px;
        min-height: 170px;
    }

    .number {
        font-size: 0.7rem;
        text-align: center;
    }

    .offersListContainer {
        flex-direction: column;
    }

}

/* Offer Container */

.offerContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    text-align: center;
    margin-top: 2rem;
}

.offersListContainer {
    display: flex;
    justify-content: center;
}

.offersListContainer li {
    align-items: center;
    display: flex;
    text-align: left;
    margin: 0 2rem;
}


.offersListContainer li div {
    margin-left: 2rem;
}


.offersListContainer h6 {
    font-weight: 800;
    font-size: 1rem;
    margin: 1rem 0;
}