.container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.label {
    width: 200px;
    margin-right: 15px;
}

.starRate {
    display: flex;
    flex-direction: row;
    width: 500px;
    align-items: center;
    justify-content: center;
    margin: 50px 0 0 0;
}

.fullStar {
    height: 30px;
    width: 30px;
    color: var(--red-color);
}

.emptyStar {
    height: 30px;
    width: 30px;
    color: var(--red-color);
}