.starRate {
    display: flex;
    flex-direction: row;
    width: 150px;
    align-items: center;
    justify-content: center;
}

.fullStar {
    height: 10px;
    width: 10px;
}

.emptyStar {
    height: 10px;
    width: 10px;
}