.container{
    background-color: white;
    border: solid 1px black;
    border-radius: 1rem;
    width: 35rem;
    height: 25rem;
    margin: 6rem auto;
    position:absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}
.subContainer{
    display: flex;
    justify-content: center;
    gap: 1rem;
    margin-bottom: 1rem;
}
.subsubContainer{
    display: flex;
    justify-content: center;
    gap: 1rem; 
}
.btn{
    border:2px solid black;
    width: 30%;
    margin: 1rem auto;
    cursor: pointer;
}
.input{
    width:50% ;
    height: 2rem;
}
.containerX{
    width: 80%;
    display: flex;
    justify-content: end;
}
.X{
    border: solid 1px black;
    background-color: red;
    width: 5%;
    text-align: center;
    border-radius: 50%;
    margin-bottom: 5rem;
    cursor: pointer;
}
.inputError{
    width:50% ;
    height: 2rem;
    border: solid 2px red;
    color: white;
    background-color: red;
}