.container {
    border: solid 1px black;
    background-color: white;
    border-radius: 10px;
    width: 60%;
    height: 20rem;
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3rem;
}

.btn {
    border: solid 1px black;
    width: 23px;
    text-align: center;
    border-radius: 50%;
    background-color: red;
}

.containerBtn {
    display: flex;
    width: 80%;
    justify-content: flex-end;
    margin-top: 6px;
    cursor: pointer;
}