.container {
    display: flex;
    height: 100%;
    width: 100%;
    align-items: center;
    justify-content: center;
    border-radius: 16px;
    padding-right: 2rem;
    position: relative;
}

.img {
    height: 150px;
    width: 150px;
    border-radius: 100%;
    border: 6px solid black;

    margin-right: 1rem;
    margin-left: 2rem;
}

.detail {
    border: solid 2px black;
    width: 25rem;
    height: 3rem;
    align-items: center;
    border-radius: 16px;
    margin: 10px 10px;
    display: flex;
    align-items: center;
}

.containerDetail {
    display: flex;
    flex-direction: column;
    width: 20rem;
    height: fit-content;
    margin: 10px 10px;
    border-radius: 16px;
    padding: 4px;
    gap: 15px;
    text-align: left;
    align-items: center;

}

.containerDetail span {
    color: white
}

.main {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 5rem auto;
    padding: 3rem;
    height: fit-content;
    width: 700px;
}

.pen {
    height: 30px;
    background-color: #FF5F6D;
    border-radius: 50%;
    border: none;
    padding: 0.4rem;
    color: white;


}

.input {
    width: 500px;
    height: 45px;
    border-radius: 5px;
    padding-left: 0.5rem;
}

.containerName {
    display: flex;
    gap: 35px;
}

.containerName input {
    width: 230px;
    padding-left: 0.5rem;
}

.main button {
    padding: 0.5rem 1rem;
    border-radius: 8px;
    columns: white;
    font-size: 1rem;
    font-weight: 700;
    cursor: pointer;
    margin-top: 10px;
}

.main button:hover {
    transition: 0.5s;
}

.btnImg {
    border-radius: 50%;
    height: 34px;
    position: absolute;
    display: flex;
    margin-left: 7rem;
    margin-top: 7rem;
}

.btnUserImg {
    color: white;
    position: fixed;
    border-radius: 50%;
    height: 34px;
    margin-left: 30rem;
    margin-top: -1rem;
}

.btn {
    color: white;
    padding: 0.5rem;
    border-radius: 10px;
    font-size: 1rem;
    font-weight: 700;
    background-color: #FF5F6D;
    cursor: pointer;
}