.container{
    display: flex;
    border: solid 2px black;
    width: 25rem;
    height:7rem;
    align-items: center;
    border-radius: 16px;
    margin:10px 10px;
    background-color:  #7f75e9 ;
}

.img{
    height: 5rem;
    border-radius:50%;
    border: solid 1px black;
    margin-right: 1rem;
    margin-left: 2rem;
}
.detail{
    border: solid 2px black;
    width: 25rem;
    height: 3rem;
    align-items: center;
    border-radius: 16px;
    margin:10px 10px;
    display: flex;
    align-items: center;
}
.containerDetail{
    display: flex;
    flex-direction: column;
    border: 2px solid black;
    width: 25rem;
    height: fit-content;
    margin:10px 10px;
    border-radius: 16px;
    padding: 4px;
    background-color:  #e1d9d4;

}
.main{
  display: flex;
  flex-direction: column;
  align-items: center;
}
/* .containerCuentas{
    display: flex;
    flex-direction: column;
    border: 2px solid black;
    width: 25rem;
    height: fit-content;
    margin:10px 10px;
    border-radius: 16px;
    padding: 4px;
} */