.mainContainer {
  color: #fff;
  background: var(--main-bg);
  padding: 3rem 5rem;
  height: 100vh;
  max-height: max-content;
}

.nav {
  font-size: 2rem;
  font-weight: 600;
}

.container {
  display: flex;
  justify-content: center;
  gap: 10rem;
  margin: 5rem;
}

@media screen and (max-width: 900px) {
  .mainContainer {
    height: 100%;
  }

  .container {
    flex-direction: column;
  }
}