.detailContainer {
  margin: 2rem;
}

.detailContainer h2 {
  font-size: 40px;
}

.infoContainer {
  display: flex;
  margin-top: 2rem;
}

.cardContainer {
  position: relative;
  width: 512px;
  margin-right: 2rem;
  transition: 0.6s ease;
}

.cardContainer:hover {
  transform: scale(1.03);
}

.creditCardImage img {
  width: 100%;
}

.textContainer {
  position: absolute;
  bottom: 30px;
  left: 65px;
}

.textContainer h3 {
  position: absolute;
  bottom: 100px;
  font-size: 20px;
  font-weight: 200;
}

.textContainer p {
  font-size: 50px;
}

.listContainer {
  margin: 0 1rem;
}

.listContainer li {
  display: flex;
  margin: 2rem 0;
}

.listContainer h4,
.listContainer p {
  margin: 0 1rem;
}