.detailContainer {
  margin: 2rem;
  width: 100%;
  max-width: 100%;
  height: 100%;
}

.detailContainer h2 {
  font-size: 40px;

}

.infoContainer {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
}

.cardContainer {
  position: relative;
  /* width: 512px; */
  margin-right: 2rem;
  transition: 0.6s ease;
}

.cardContainer:hover {
  transform: scale(1.03);
}

.creditCardImage img {
  width: 100%;
}

.textContainer {
  position: absolute;
  bottom: 4rem;
  left: 65px;
}

.textContainer h3 {
  position: absolute;
  bottom: 5rem;
  font-size: 20px;
  font-weight: 200;
}

.textContainer p {
  font-size: 50px;
}

.listContainer {
  margin: 0 1rem;
}

.listContainer li {
  display: flex;
  margin: 2rem 0;
}

.listContainer h4,
.listContainer p {
  margin: 0 1rem;
}

.loading {
  display:flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100vh;
}

.loading img {
  height: 8rem;
  width: 8rem;

}

.recentActivity {
  width: 40%;
  max-height: 300px;
  overflow-y: scroll;
}

@media (max-width: 890px) {
  .infoContainer {
    flex-direction: column;
  }

}