.movement_container {
    position: fixed;
    top: 0;
    left: 0;
    width: 50vw;
    height: 100vh;
    background-color: rgba(240, 248, 255, 0.315);
    backdrop-filter: blur(.3rem);
    z-index: 5;
    animation: appear .3s alternate;
}

.movement {
    height: 70vh;
    width: 60%;
    background-color: aliceblue;
    position: fixed;
    bottom: 0;
    border-radius: 1rem 1rem 0 0;
    margin: auto;
    z-index: 20;
    padding: 1rem;
    animation: appear_2 .3s alternate;
}

.button {
    background-color: var(--background-color-landing);
    color: var(--color-letters);
    padding: .5rem;
    border: none;
    border-radius: .6rem;
    font-size: 1rem;
    transition: .3s;

}

.button:hover {
    background-color: var(--color-letters);
    color: var(--background-color-landing);
    cursor: pointer;
}

.amount_container {
    display: grid;
    place-content: center;
}

.amount {
    background-color: var(--background-color-landing);
    color: var(--color-letters);
    border-radius: 50rem;
    font-size: 2rem;
    padding: 1rem;
}

.negAmount {
    background-color: var(--background-color-landing);
    color: var(--red-color);
    border-radius: 50rem;
    font-size: 2rem;
    padding: 1rem;
}

.details {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.detail {
    display: flex;
    justify-content: space-between;
    padding: .5rem;
    border-bottom: black .1rem solid;
    transition: .3s;
}

.detail:hover {
    background-color: #FFFFFF;
}

@media (max-width: 890px) {
    .movement {
        width: 100%;
        left: 0;
    }
}

@keyframes appear {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes appear_2 {
    0% {
        transform: translateY(100%);
    }

    100% {
        transform: translateY(0%);
    }
}

.containerbtn {
    display: flex;
    padding: 0.6rem 1rem;
    justify-content: center;
}

.containerbtn button {
    padding: 0.5rem 0.8rem;
    border-radius: 10px;
    border: 1px solid black;
    background-color: black;
    color: white;
    font-size: 1rem;
    transition: 0.5s;
}

.containerbtn button:hover {
    background-color: var(--color-letters);
    color: var(--background-color-landing);
    cursor: pointer;
    font-weight: 500;
}

.comment {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: fit-content;
    gap: 10px;
}

.comment textarea {
    width: 60%;
    height: 5rem;
    border-radius: 12px;
    padding: 5px;
}

.comment button {
    padding: 0.5rem 1rem;
    border-radius: 10px;
    background-color: black;
    color: white;
    font-size: 1rem;
    transition: 0.5s
}

.comment button:hover {
    background-color: var(--color-letters);
    color: var(--background-color-landing);
    cursor: pointer;
    font-weight: 500;
}