.container {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    gap: 0.5rem;
}

.title {
    margin-top: 1rem;
    font-size: 1.5rem;
    border-bottom: .1rem black solid;
    padding-bottom: 1rem;
}

.amount {
    display: grid;
    place-content: center;
}

.activitie {
    display: flex;
    justify-content: space-between;
    border-bottom: .1rem gray solid;
    padding: 0.7rem;
    

}

.activitie:hover {
    background-color: aliceblue;
    color: var(--background-color-landing);
}

.btn {
    color: white;
    font-size: 15px;
    padding: 0.5rem;
    height: fit-content;
    margin: 0 0.5rem;
}