.center {
    display: grid;
    place-content: center;
}

.min_h_100vh {
    min-height: 100vh;
}

.card {
    box-shadow: 0px 7px 31px rgba(0, 0, 0, 0.1);
    border-radius: 0 1rem;
    padding: 2rem;
    width: 30vw;
}

.form {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    margin: 1rem auto;
}

.input_text {
    border: none;
    /* width: 100%; */
    border-radius: .2rem;
    border-radius: .2rem;
    padding: .7rem 1rem;
    font-size: 1rem;
    border: .1rem gainsboro solid;
}

.input_text::selection {
    border: none;
}

.profilepic {
    border-radius: 50%;
    margin: 1rem auto;
}

.button {
    background-color: whitesmoke;
    border-radius: 7px;
    padding: .5rem 1rem;
    border: none;
    transition: .3s;
    font-size: 1rem;
}

.button:hover {
    background-color: #808894ea;
}

.button_google {
    display: flex;
    background-color: whitesmoke;
    margin: 1rem;
    align-items: center;
}

.button_google img {
    margin-left: 0.5rem;
    height: 25px;
}

.button_submit {
    width: 8rem;
}

.button_prev_next_container {
    display: flex;
    gap: 2rem;
    margin-top: 2rem;
}

.input_error {
    background-color: rgba(255, 0, 0, 0.7);
    border-radius: .3rem;
    width: 100%;
    padding: .5rem 1rem;
}

.input_file {
    /* display: contents; */
}

.image_preview img {
    width: 100%;
}

.input_container {
    display: flex;
    flex-direction: column;
    gap: .5rem;
}

.steps_index {
    display: flex;
    gap: .5rem;
    width: 100%;
    justify-content: space-between;
    margin-bottom: .5rem;
}

.steps_index div {
    background-color: gainsboro;
    width: 100%;
    border-radius: 0 .4rem;
    height: .5rem;
}

@media (max-width: 890px) {
    .card {
        width: 75vw;
    }

}