.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 80%;
    height: 80%;
}

.input {
    height: 30px;
    width: auto;
    display: inline;
    padding-left: 10px;
    color: black;
    border: 1px solid black;
    border-radius: 30px;
    padding: 1rem;
}

.select {
    width: 150px;
    height: 35px;
    border-radius: 5px;
    align-items: center;
    text-align: center;
    color: black;
    width: 8rem;
}

.containerselect {
    display: flex;
    gap: 20px;
    margin-top: 10px;
    
}
.detailContainer {
    display: flex;
    justify-content: center;  
    width: 100%;
  }
  .loading {
    /* display: grid;
    place-items: center; */
   display: flex;
   align-items: center;
   justify-content: center;
  }
  .containerCryptos{
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .title{
    font-size: 2rem;
  }
  .containerInputs{
    display: flex;
    flex-direction: column-reverse;
    width: 100%;
    align-items: center;
    margin: 0 auto;
  }