.container {
    width: 900px;
    text-align: center;
    align-items: center;
    margin-left: 20%;
    margin-top: 10%;
}

.loading {
    display: flex;
    align-items: center;
    justify-content: center;
}