.container {
    border: 1px solid black;
    display: flex;
    gap: 20px;
    width: 450px;
    height: 100px;
    justify-content: space-evenly;
    align-items: center;
    border-radius: 5px;
}
.divcontainer {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    width: 100%;
    margin-top: 30px;
}

.sucess {
    color: rgb(95, 244, 95);
}

.danger {
    color: red;
}