.container {
    display: flex;
}

.elementsContainer {
    display: flex;
    margin: 2rem;
}

.transactionsContainer {
    display: flex;
    flex-direction: column;
    width: 40%;
}

.transactionsContainer h2 {
    font-size: 40px;
}

.formContainer {
    display: flex;
    flex-direction: column;
}