.boxContainer {
  display: flex;
  width: 100%;
  height: 100%;
  /* flex-wrap: nowrap; */
  justify-content: space-around;
  flex-direction: column;
}

.paginas {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.pageSelected {
  width: 3rem;
    border: solid 2px gray;
    background-color: rgb(113, 111, 111);
    color: whitesmoke;
    cursor: pointer;
    list-Style: none;
    display: grid;
    place-content: center;
    border-radius: 10px;
    margin: 15px 5px;
}

.pageUnselected {
  width: 3rem;
    border: solid 2px gray;
    background-color: whitesmoke;
    cursor: pointer;
    list-Style: none;
    display: grid;
    place-content: center;
    border-radius: 10px;
    margin: 15px 5px;
}

.columns_3_2_1 {
  columns: 5 auto;
  margin: 5rem auto;
}

.card_news {
    border: .1rem gray solid;
    display: inline-block;
    margin: 1rem;
    padding: .5rem;
    border-radius: .5rem;
    transition: .3s;
}

.img_new {
    width: 100%;
    border-radius: .5rem;
}

.title {
    font-size: 1rem;
    white-space: no-wrap;
    overflow: hidden;
    position: relative;
    padding-bottom: .3rem;
    margin-bottom: .3rem;
    border-bottom: .1rem gray solid;
}

.title::after {
    position: absolute;
    left: 0;
    background-color: black;
    width: 100%;
    height: .1rem;
}

.card_news:hover {
    background-color: var(--background-color-nav);
    transform: scale(1.05);
    cursor: pointer;
}

@media (max-width: 980px) {
  .columns_3_2_1 {
    columns: 2 auto;
  }
}

@media (max-width: 480px) {
  .columns_3_2_1 {
    columns: 1 auto;
  }
}
