@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Averia+Serif+Libre&display=swap');

:root {
  --main-bg: linear-gradient(180deg, #222222 0%, #3A495D 100%);
  --background-color-nav: #F7F7F9;
  --background-color-landing: #1B1F26;
  --color-letters: #FFFFFF;
  --red-color: #FF5F6D;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;

}

::-webkit-scrollbar {
  width: 0.7rem;
}

::-webkit-scrollbar-thumb {
  background: var(--red-color);
  border-top-left-radius: 1rem;
  border-bottom-right-radius: 1rem;
  border-top-right-radius: 3rem;
  border-bottom-left-radius: 3rem;
}


input::-webkit-file-upload-button {
  visibility: hidden;
  display: contents;
}



body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}



a {
  color: inherit;
}

/* Button effect */

.btn {
  height: 3rem;
  background: #FF5F6D;
  color: white;
  border: none;
  border-radius: 0.625em;
  cursor: pointer;
  position: relative;
  z-index: 1;
  overflow: hidden;
}


.btn:hover {
  color: #FF5F6D
}

.btn:after {
  content: "";
  background: white;
  position: absolute;
  z-index: -1;
  left: -20%;
  right: -20%;
  top: 0;
  bottom: 0;
  transform: skewX(-45deg) scale(0, 1);
  transition: all 0.5s;
}

.btn:hover:after {
  transform: skewX(-45deg) scale(1, 1);
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

button {
  transition: 0.3s ease;
}

button:hover {
  transform: scale(1.04);
}

react-chatbot-kit-chat-input {
  background-color: red;
}


.canvasjs-chart-canvas {
  z-index: -1;
}