.container {
  display: flex;
}

.elementsContainer {
  display: flex;
  margin: 2rem;
}

.transactionsContainer {
  display: flex;
  flex-direction: column;
  width: 30rem;
  height: fit-content;
}

.transactionsContainer h2 {
  font-size: 40px;
}

.formContainer {
  display: flex;
  flex-direction: column;
  margin: 2rem 0;
  padding: 2rem;
  border-radius: 10px;
  box-shadow: 0px 0px 0px 0.5px rgb(50 50 93 / 10%), 0px 2px 5px 0px rgb(50 50 93 / 10%), 0px 1px 1.5px 0px rgb(0 0 0 / 7%);
}

.formContainer label {
  font-weight: 500;
}

.formContainer input,
textarea {
  width: 100%;
  margin: 1rem 0;
  text-align: center;
  padding: 0.8rem;
  border-radius: 5px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  font-weight: 500;

  background: #f9fafc;
}

.formContainer input::placeholder {
  font-weight: 200;
}

.btn {
  font-size: 15px;
  height: 2rem;
  padding: 0 1rem;
  color: white;
  font-weight: 600;
}