.images_container {
    display: flex;
    overflow: auto;
    scroll-padding: 20px;
    gap: 15px;
    /* padding: 20px; */
}
.images_container > img {
    flex: 0 0 100%;
    scroll-snap-align: start;
    width: 100%;
}

.card_container {
    display: flex;
    flex-direction: column;
    display: inline-block;
    margin: 1rem;
}

.itme {
    padding: .5rem;
}
.item_container {
    display: flex;
    gap: .5rem;
}

.button {
    font-size: 1rem;
    border: black .1rem solid;
    background-color: rgba(245, 245, 245, 0.209);
    padding: .5rem 1rem;
    border-radius: .7rem;
}