.header {
    background-color: var(--background-color-nav);
    width: 10vw;
    min-width: 10vw;
    height: 100vh;
    border-bottom-right-radius: 1rem;
    border-top-right-radius: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 1rem 1rem 1rem 0rem;
    position: sticky;
    left: 0;
    top: 0;
}

.title {
    padding: 1rem;
    display: grid;
    place-content: center;
    margin-left: 1rem;
}

.itemsNav {
    display: flex;
    flex-direction: column;
    gap: .5rem;
    margin-top: 1rem;
    font-weight: 600;
    justify-content: center;
}

.listItem {
    display: flex;
    align-items: center;
    justify-content: space-between;
    transition: .3s;
    border-radius: 0 .5rem .5rem 0;
    padding: 1rem;
}

.listItem:hover {
    background-color: rgb(203, 205, 207);
}

.listItem a {
    margin-left: 1rem;
}

.button {
    border: none;
    background-color: none;
    display: flex;
    align-items: center;
}

@media (max-width: 890px) {
    .listItem_text {
        display: none;
    }

    .header {
        width: 7vh;
        padding: .5rem .5rem .5rem 0rem;
    }

    .title {
        margin-left: .5rem;
    }
}

.icon {
    height: 30px;
    width: 30px;
}